<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript"> 
        // window.history.forward(); 
        // function noBack() { 
        //     window.history.forward(); 
        // } 
    </script> 
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit facilis nemo beatae eius autem commodi voluptatibus obcaecati et minima, incidunt magni ipsa eos architecto dolore voluptatum repudiandae totam error placeat dicta dolores consequuntur quas. Minima ea consequuntur harum provident id quia corrupti beatae amet! Optio excepturi explicabo magni incidunt deserunt impedit placeat voluptatum pariatur at id aliquid voluptate sit ex, cum possimus odio nihil deleniti inventore minus reiciendis, dolore dignissimos rem! Laboriosam quisquam iusto, quidem vero reprehenderit est voluptas culpa minima nesciunt, quasi repellendus molestiae error earum blanditiis numquam libero animi in dignissimos, possimus aut repellat quis hic quibusdam tenetur? Eos veniam odit cumque placeat, aliquid eveniet earum fugiat repellat animi in fuga et aperiam nesciunt hic possimus dicta id ad corporis magnam. Accusamus nobis veniam magnam odio eius officiis, eaque, deserunt, optio quas voluptates ipsum provident maxime rem itaque est neque quidem aspernatur nemo enim maiores voluptatum porro. Minus, omnis recusandae alias neque illo eos ullam eveniet numquam culpa. Vero in perspiciatis corporis, delectus dicta similique. Officiis similique unde dolorum corrupti at velit accusantium, culpa nemo eius officia numquam inventore deleniti dolor nesciunt! Voluptate, accusantium? Sequi ullam, adipisci possimus cumque similique error. Dolores, cumque veniam asperiores, quam ea odit illum eum, animi itaque nisi consectetur tempora esse libero voluptatibus quia commodi. Quibusdam facere alias necessitatibus velit placeat excepturi eos ipsa harum ut amet enim voluptatum cupiditate, consequatur quo, vero expedita aspernatur architecto. Ab laboriosam inventore suscipit rerum doloribus. Fugiat debitis adipisci dolor ipsum neque. Reprehenderit vitae, minima numquam atque animi iure sequi corporis vero dolore nostrum, obcaecati nam veniam. Delectus omnis hic possimus impedit molestiae excepturi dignissimos sequi doloribus vel? Minus neque ratione esse blanditiis. Alias doloribus quibusdam nam eos ullam, earum nulla dolorem dolore error molestiae labore similique beatae, tempora dignissimos, quam soluta? Harum ea quae in labore, nostrum beatae numquam inventore magnam quaerat obcaecati enim sapiente asperiores laborum voluptate ad officiis unde dicta odio consequuntur, exercitationem error perspiciatis magni sequi? Suscipit quia nesciunt maxime eius vero iure corrupti libero? Excepturi itaque saepe eius hic deleniti et neque, labore, consequatur tempore vitae ea quisquam fuga cumque impedit laborum molestias culpa. Labore, accusantium? Doloremque, animi optio. Repellendus tempora impedit officia architecto quidem perspiciatis soluta, nisi quia non nam vero magni dolores laboriosam quos placeat assumenda numquam saepe quasi veritatis perferendis adipisci, sapiente id. Dolorum repellat amet perspiciatis, perferendis possimus eos nisi unde, repellendus facere minima corrupti fugiat voluptatum, laborum blanditiis nam corporis expedita non officia temporibus culpa. Culpa quos eaque, ipsa quidem ab numquam commodi consequatur nesciunt, explicabo quaerat quam repudiandae? Voluptate debitis quaerat animi, ea architecto adipisci deleniti minima. Nam odio nobis dolore, quas enim in reiciendis modi cupiditate ducimus dolores quis? Illum placeat debitis impedit eaque magnam vero ducimus, molestias eius, voluptas hic aliquid soluta, dolores nulla animi modi. Consequuntur, necessitatibus itaque sequi ad quasi voluptatem maiores aut, fuga minima quibusdam praesentium sapiente est corporis beatae eligendi nobis debitis accusamus iusto autem voluptate alias quidem. Aperiam sint, nostrum quam est adipisci dolores accusamus ratione incidunt! Tempore, ut?</p>

    <button type="submit" onclick="press()">go to test</button>
    
    <script>
        function press(){
            location.href = `/?id=<%= id %>&pid=1&qno=1`
        }
    </script>
</body>
</html>